<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="/img/logo.jpg">


    <title>Depreciation</title>

    <!-- Custom fonts for this template -->
    <link
      href="/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/css/main-style.css" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.css" rel="stylesheet" />

    <!-- Custom styles for this page -->
    <link
      href="/vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/spinner.css">

  </head>

  <body id="page-top">
    
  <div class="preloader is-active">
    <div class="preloader__wrap">
      <div class="spinner-grow text-danger" style="background-color: purple;"></div>
    </div>
  </div>
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav sidebar sidebar-dark accordion bg-purple"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="/admin/home"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-house fa-2x"></i>
          </div>
          <div class="sidebar-brand-text mx-3">
            <b style="font-family: Georgia; color: gold">Mi</b>-<i>Assets</i>
          </div>
        </a>

        <li class="nav-item side-nav">
          <a class="nav-link collapsed" href="/admin/home">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">Add</div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item  side-nav">
          <a
            class="nav-link collapased"
            href="/admin/add-renter"
            aria-expanded="true"
            aria-controls="collapseTwo"
          >
            <i class="fas fa-fw fa-user"></i>
            <span>Renters</span>
          </a>
        </li>

        <!-- Nav Item - fixed assets Collapse Menu -->
        <li class="nav-item side-nav">
          <a
            class="nav-link collapsed"
            href="/admin/add-asset"
            aria-expanded="true"
            aria-controls="collapseUtilities"
          >
            <i class="fas fa-fw fa-wrench"></i>
            <span>Fixed assets</span>
          </a>
        </li>
        <li class="nav-item  side-nav">
          <a
            class="nav-link "
            href="/admin/add-admin"
            aria-expanded="true"
            aria-controls="collapseUtilities"
          >
            <i class="fas fa-fw fa-users"></i>
            <span>New Admin</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">information</div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item side-nav">
          <a
            class="nav-link "
            href="/admin/renters"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <i class="fas fa-fw fa-users"></i>
            <span>Rentals Details</span>
          </a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item side-nav">
          <a class="nav-link" href="/admin/assets">
            <i class="fas fa-fw fa-folder"></i>
            <span>Assets Details</span></a
          >
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item side-nav active">
          <a class="nav-link" href="/admin/depreciate">
            <i class="fas fa-fw fa-egg"></i>
            <span>Depreciation</span></a
          >
        </li>
        <li class="nav-item side-nav">
          <a class="nav-link" href="/admin/reminder">
            <i class="fas fa-fw fa-mail-bulk"></i>
            <span>Reminders</span></a
          >
        </li>
        <li class="nav-item side-nav">
          <a class="nav-link" href="/admin/profit">
            <i class="fas fa-fw fa-kiwi-bird"></i>
            <span>Profit</span></a
          >
        </li>
        <li class="nav-item side-nav">
          <a class="nav-link" href="/admin/profile">
            <i class="fas fa-fw fa-circle-user"></i> 
            <span>Profile</span></a
          >
        </li>
        <li class="nav-item side-nav">
          <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#my_Modal">
            <i class="fas fa-fw fa-sign-out"></i>
            <span>Sign Out</span></a
          >
        </li>
<!-- sign out model -->

<!-- The Modal -->
<div class="modal" id="my_Modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Did you want to sign Out?</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to long out?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <a type="button" href class="btn btn-primary" >Yes</a>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
      </div>

    </div>
</div>
</div>













        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Divider -->
        <div class="sidebar-card d-none d-lg-flex">
          <% if (admin.photo) { %>
            <img class="sidebar-card-illustration mb-2" src="<%= admin.photo %>" alt="" />
           
          <% } else{ %>
          <img class="sidebar-card-illustration mb-2" src="/img/profile.jpg" alt="" />
    <% } %>
          <p class="text-center mb-2">
            <strong title="my profile"> <a href="/admin/profile"><%- include("../patials/adminName")  %></a></strong> welcome to Mi assets,
          </p>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <form class="form-inline">
              <button
                id="sidebarToggleTop"
                class="btn btn-link d-md-none rounded-circle mr-3"
              >
                <i class="fa fa-bars"></i>
              </button>
            </form>

            <!-- Topbar Navbar -->
            <%- include("../patials/adminHeader") %>

          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Depreciation</h1>
            <p class="mb-4">
             These are the depreciation of the asset. and only expenses can be change <br>
              <!-- <a class="btn btn-primary my-2" href=""  data-bs-toggle="modal" data-bs-target="#myModal"
                >Add Depreciation</a
              > -->
            </p>

          
          
          <!-- The Modal -->
        


            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Depreciation value
                </h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th class="text-center">Asset Name</th>
                        <th class="text-center">Original Amount</th>
                        <th class="text-center">Expenses</th>
                        <th class="text-center">Total Amount</th>
                        <th class="text-center">Rent Jan-Jun</th>
                        <th class="text-center">Rent July-Dec</th>
                        <th class="text-center">Total Depreciation</th>
                        <th class="text-center"></th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th class="text-center">Asset Name</th>
                        <th class="text-center">Original Amount</th>
                        <th class="text-center">Expenses</th>
                        <th class="text-center">Total Amount</th>
                        <th class="text-center">Rent Jan-Jun</th>
                        <th class="text-center">Rent July-Dec</th>
                        <th class="text-center">Total Depreciation</th>
                        <th class="text-center"></th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <% for( let asset of depreciate ) { %>
                       <tr>
                          <td class="text-center"><%= asset.name %></td>
                          <td class="text-center">#<%= asset.current_amount%></td>
                          <td class="text-center"> <%= (asset.expense =='undefined')? '0' : asset.expense %> </td>
                          <td class="text-center">#<%-  Number(asset.current_amount)+ Number(asset.expense) %>
                         
                          </td>
                          <td class="text-center">#<% function Depreciation(){
                            let salvageValue= ((asset.savage_value =="undefined")? "0" : `${asset.current_amount*0.1}`   ) 
                            let y = salvageValue/asset.lifespan
                            let month = (y/12)
                            let halfMonths = (month*6)
                            return Math.round(Math.abs(halfMonths.toFixed(2)))
                            }
                            %><%= Depreciation() %>
                            </td>
                            <td class="text-center">#<%= Depreciation() %></td>
                            <td class="text-center text-danger">#<% let deprec = Depreciation()*2 %><%= deprec  %></td>
                            <td title="Edit expense" class="icon text-center" onclick="
                            $('#FormEdit').attr('action', '/admin/depreciate/update/<%= asset.id %>');
                            $('#expense').val('<%=asset.expense %>');
                            ">                       
                            <i class="fa fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#editModal"></i>
                            </td>
                            </tr>
                            <% } %>

                     
                    </tbody>
                  </table>
                  
                  <div class="modal fade " id="editModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header" style=" background-color: purple; color:aliceblue">
                              <h5 class="modal-title" id="exampleModalLabel">Edit expense </h5>
                              <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="text-white">×</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div>
                              <form method="POST" id="FormEdit">
                                <div class="mb-3">
                                  <label for="" class="form-label">expenses</label>
                                  <input type="text"
                                    class="form-control" name="expense" id="expense"  aria-describedby="helpId" placeholder="">
                                </div>
                                <div class="mx-auto">
                                <center><button class="btn-primary mx-auto" type="submit" >save</button></center>
                                </div>
                              </form>
                              </div>
                              </div>
                            <div class="modal-footer" style="background-color: purple;">
                            </div>
                          </div>
                        </div>
                      </div>
              
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
   <!-- End of Main Content -->
   <%- include("../patials/footer.ejs") %>
