<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" type="image/x-icon" href="/img/logo.jpg">

  <title>Mi-Asset Dashboard</title>

  <!-- libraries -->
  <!-- <link href="/css/all.min.css" rel="stylesheet" type="text/css" /> -->
  <link rel="stylesheet" href="/css/all.min.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/main-style.css" rel="stylesheet" type="text/css" />
  <!-- Custom fonts for this template-->
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=DynaPuff&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/spinner.css">
  <link rel="stylesheet" href="/css/profile-style.css">

</head>

<body id="page-top">
  
  <div class="preloader is-active">
    <div class="preloader__wrap">
      <div class="spinner-grow text-danger" style="background-color: purple;"></div>
    </div>
  </div>
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-purple sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/index">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-house fa-2x"></i>
        </div>
        <div class="sidebar-brand-text mx-3">
          <b style="font-family: Georgia; color: gold">Mi</b>-<i>Assets</i>
        </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-1 bg-warning" />

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active side-nav">
        <a class="nav-link" href="/admin/home">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider" />

      <!-- Heading -->
      <div class="sidebar-heading">Add</div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item side-nav">
        <a class="nav-link collapsed" href="/admin/add-renter" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-user"></i>
          <span>Renters</span>
        </a>
     
      </li>

      <!-- Nav Item - fixed assets Collapse Menu -->
      <li class="nav-item side-nav">
        <a class="nav-link collapsed" href="/admin/add-asset" 
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Fixed assets</span>
        </a>
     
      </li>
      <li class="nav-item  side-nav">
        <a
          class="nav-link "
          href="/admin/add-admin"
          aria-expanded="true"
          aria-controls="collapseUtilities"
        >
          <i class="fas fa-fw fa-users"></i>
          <span>New Admin</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider" />

      <!-- Heading -->
      <div class="sidebar-heading">information</div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item side-nav">
        <a class="nav-link collapsed" href="/admin/renters"  aria-expanded="true"
          aria-controls="collapsePages">
          <i class="fas fa-fw fa-users"></i>
          <span>Rentals Details</span>
        </a>
        
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item side-nav">
        <a class="nav-link" href="/admin/assets">
          <i class="fas fa-fw fa-folder"></i>
          <span>Assets Details</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item side-nav">
        <a class="nav-link" href="/admin/depreciate">
          <i class="fas fa-fw fa-egg"></i>
          <span>Depreciation</span></a>
      </li>
      <li class="nav-item side-nav">
        <a class="nav-link" href="/admin/reminder">
          <i class="fas fa-fw fa-mail-bulk"></i>
          <span>Reminders</span></a>
      </li>
      <li class="nav-item side-nav">
        <a class="nav-link" href="/admin/profit">
          <i class="fas fa-fw fa-kiwi-bird"></i>
          <span>Profit</span></a>
      </li>
      <li class="nav-item side-nav active">
        <a class="nav-link" href="//admin/profile">
          <i class="fas fa-fw fa-circle-user"></i> 
          <span>Profile</span></a
        >
      </li>
      <li class="nav-item side-nav">
        <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#my_Modal">
          <i class="fas fa-fw fa-sign-out"></i>
          <span>Sign Out</span></a
        >
      </li>
      <!-- The Modal -->
<div class="modal" id="my_Modal">
    <div class="modal-dialog">
      <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Did you want to sign Out?</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
    
        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to long out?
        </div>
    
        <!-- Modal footer -->
        <div class="modal-footer">
          <a type="button" href class="btn btn-primary" >Yes</a>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
        </div>
    
      </div>
    </div>
    </div>
          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block" />
    
          
    
          <!-- Sidebar Message -->
          <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="<%= admin.photo %>" alt="..." />
            <p class="text-center mb-2">
              <strong title="my profile"> <a href="/admin/profile"><%- include("../patials/adminName")  %></a></strong> welcome to Mi assets,
             
            </p>
          </div>
        </ul>
        <!-- End of Sidebar -->
    
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
          <!-- Main Content -->
          <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
              <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
              </button>
    
    
              <!-- Topbar Navbar -->
              <%- include("../patials/adminHeader") %>
              
            </nav>
            <section class="section profile">
                <div class="row">
      
          
                  <div class="col-xl-12 ">
                    <div class="card">
                      <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered ">
          
                          <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                          </li>
          
                          <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                          </li>    
                          <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                          </li>
          
                        </ul>
                        <div class="tab-content pt-2">
          
                          <div class="tab-pane fade show active profile-overview" id="profile-overview">
                      
                            <!-- profile picture -->
                          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                  
      
                            <div class="profile-picture ">
                              <% if (admin.photo) { %>
                                <img src="<%= admin.photo %>" class="rounded-circle" alt="" style="border-radius:50%; height:250px; width: 230px">                         
                                
                              <% }else { %>
                              <img src="/img/profile.jpg" class="rounded-circle" alt="" style="border-radius:50%; height:250px; width: 230px">  
                       
                              <% } %>
                            </div>
                          </div>
                          <!-- about -->
      
                          <div class="pb-5 " style="margin-top:50px;">
                            <h5 class="card-title">Profile Details</h5>
                            
                            <div class="row">
                              <!-- full name -->
                              <div class="col-lg-3 col-md-4 label ">Full Name:</div>
                              <div class="col-lg-9 col-md-8" name="admin_id"><%=admin.name()%></div>
                            </div>
          
                    
          
                            <div class="row">
                              <!-- faculty -->
                              <div class="col-lg-3 col-md-4 label">Address:</div>
                              <div class="col-lg-9 col-md-8" name="admin_id"><%#= (admin.address)? `${admin.address.slice(0,1).toUpperCase()+admin.address.slice(1).toLowerCase()}` : "" %></div>
                            </div>
      
                            <div class="row">
                              <!-- department -->
                              <div class="col-lg-3 col-md-4 label">Phone Number:</div>
                              <div class="col-lg-9 col-md-8" name="admin_id"><%= admin.phone_number %></div>
                            </div>
                              
                            <div class="row">
                              <!-- office address -->
                              <div class="col-lg-3 col-md-4 label">Email</div>
                              <div class="col-lg-9 col-md-8" name="admin_id"><%= admin.email %></div>
                            </div>
                     
          
                            <div class="row">
                              <!-- country -->
                              <div class="col-lg-3 col-md-4 label">Country:</div>
                              <div class="col-lg-9 col-md-8" name="admin_id"><%#=(admin.country)? `${admin.country.slice(0,1).toUpperCase()+admin.country.slice(1).toLowerCase()}` :""  %></div>
                            </div>
          
                            <div class="row">
                              <!-- address -->
                              <div class="col-lg-3 col-md-4 label">State</div>
                              <div class="col-lg-9 col-md-8" name="admin_id"><%#= (admin.state)? ${admin.state.slice(0,1).toUpperCase()+admin.state.slice(1).toLowerCase()}` : ""%></div>
                            </div>
          
                           
                         
          
                          </div>
                        </div>
          
                          <div class="tab-pane fade profile-edit pt-3" id="profile-edit" onclick="">
          
                            <!-- Profile Edit Form -->
                            <!-- enctype="multipart/form-data" -->
                            <form method="POST"  action="/admin/profile/update/<%= admin.id %>" enctype="multipart/form-data">
                              <div class="row mb-3">
                                <div class="col-md-6 col-lg-7"></div>
                                <div class=" text-center" >
                                  <div class="profile-pic-div">
                                    <img src="<%= admin.photo %>" id="photo" >
                                    <input type="file" id="file" name="photo">
                                    <label for="file" id="uploadBtn">Choose Photo</label>
                                  </div>                                  
                                  
                                  
                                </div>
                                <br>
                              </div>
                              <!-- <input type="file" name="photos" id="photo"> -->
                            

                              <div class="all" style="margin-top:200px">
                              <div class="row mb-3" >
                                <label for="surname" class="col-md-4 col-lg-3 col-form-label "><b>Surname </b> </label>
                                <div class="col-md-8 col-lg-9 ">
                                  <input name="surname" type="text" class="form-control w-50"  value="<%- (admin.surname)? (admin.surname) : '' %>" id="firstName">
                                </div>
                              </div>
                              <div class="row mb-3" >
                                <label for="first_name" class="col-md-4 col-lg-3 col-form-label"><b>First Nname</b> </label>
                                <div class="col-md-8 col-lg-9 ">
                                  <input name="first_name" type="text" class="form-control w-50" value="<%-(admin.first_name)? (admin.first_name) : ''%>" id="first_name" >
                                </div>
                              </div>
                              <div class="row mb-3" >
                                <label for="other_name" class="col-md-4 col-lg-3 col-form-label"><b>Other Name</b></label>
                                <div class="col-md-8  col-lg-9">
                                  <input name="other_name" type="text" class="form-control w-50" value="<%- (admin.other_name)? (admin.other_name) : ''%>" id="other_name" >
                                </div>
                              </div>
          
                              <div class="row mb-3">
                                <label for="Phone" class="col-md-4 col-lg-3 col-form-label"><b>Phone</b> </label>
                                <div class="col-md-8 col-lg-9">
                                  <input name="phone_number" type="text" class="form-control w-50" value="<%-(admin.phone_number)? (admin.phone_number) : '' %>" id="Phone" >
                                </div>
                              </div>
          
                              <div class="row mb-3">
                                <label for="Address" class="col-md-4 col-lg-3 col-form-label"><b>Address</b> </label>
                                <div class="col-md-8 col-lg-9">
                                  <input name="address" type="text" class="form-control w-50" value="<%-(admin.address)? (admin.address) : '' %>" id="Address" >
                                </div>
                              </div>

                              <div class="row mb-3">
                                <label for="Address" class="col-md-4 col-lg-3 col-form-label"><b>State/Orign</b> </label>
                                <div class="col-md-8 col-lg-9">
                                  <input name="state" type="state" class="form-control w-50" value="<%-(admin.state)? (admin.state) : '' %>" id="state" >
                                </div>
                              </div>
          
                              <div class="row mb-3">
                                 <label for="Country" class="col-md-4 col-lg-3 col-form-label"><b>Country</b></label>
                                <div class="col-md-8 col-lg-9">
                                  <input name="country" type="text" class="form-control w-50"  value="<%-(admin.country)? (admin.country) : '' %>"id="Country" >
                                </div>
                              </div>
          
                              <div class="row mb-3">
                                <label for="Email" class="col-md-4 col-lg-3 col-form-label"><b>Email</b> </label>
                                <div class="col-md-8 col-lg-9">
                                  <input name="email" type="email" class="form-control w-50" value="<%- (admin.email)? (admin.email) : '' %>" id="Email" ></div>
                                </div> 
                              <div class="row mb-3">
                                <label for="text" class="col-md-4 col-lg-3 col-form-label"><b>Paystack Secret key</b> </label>
                                <div class="col-md-8 col-lg-9">
                                  <input name="paystack_secret_key" type="text" class="form-control w-50" value="<%- (admin.paystack_secret_key)? (admin.paystack_secret_key) : '' %>" id="Email" ></div>
                                </div> 
                               <div class="text-center ">
                             <button type="submit" class="btn btn-primary">Save Changes</button>
                          </div>
                                </div>
                              
          
                             
                            </form><!-- End Profile Edit Form -->
          
                          </div>
          
                          
                          <div class="tab-pane fade pt-3" id="profile-change-password">
                            <!-- Change Password Form -->
                            <form method="POST" action="">
          
                              <div class="row mb-3">
                                <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                <div class="col-md-8 col-lg-9">
                                  <input name="current_password" type="password" class="form-control" id="current_Password" class="" style="width: 190px;">
                                </div>
                              </div>
                              <!-- new password -->
                              <div class="row mb-3">
                                <label for="newpassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                <div class="col-md-8 col-lg-9">
                                  <input name="password" type="password" class="form-control" id="newPassword" style="width: 190px;">
                                </div>
                              </div>
          
                              <div class="row mb-3">
                                <label for="renewpassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                <div class="col-md-8 col-lg-9">
                                  <input name="renewpassword" type="password" class="form-control" id="renewPassword" style="width: 190px;">
                                </div>
                              </div>
          
                              <div class="text-center">
                                <button type="submit" class="btn btn-primary">Change Password</button>
                              </div>
                            </form><!-- End Change Password Form -->
          
                          </div>
          
                        </div><!-- End Bordered Tabs -->
          
                      </div>
                    </div>
          
                  </div>
                </div>
              </section>
                    <!-- The Modal -->
               <div class="modal fade" id="myModal"  >
                <div class="modal-dialog modal-dialog-sm">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title"></h4>
                      <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                      <h6>Are you sure you want to log out?</h6>
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"> <a href="/admin">yes</a> </button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal"> <a href="#">NO</a> </button>
                    </div>
      
                  </div>
                </div>
      <!-- upload modal -->
      </main>
      <!-- End #main -->
      <script src="/js/app.js"></script>
      <%- include("../patials/footer.ejs") %>

      
 