<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="/img/logo.jpg">

    <title>Assets</title>

    <!-- Custom fonts for this template -->
    <link
      href="/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/css/main-style.css" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.css" rel="stylesheet" />

    <!-- Custom styles for this page -->
    <link
      href="/vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/spinner.css">

  </head>

  <body id="page-top">
    
  <div class="preloader is-active">
    <div class="preloader__wrap">
      <div class="spinner-grow text-danger" style="background-color: purple;"></div>
    </div>
  </div>
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-purple sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/user/home">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-house fa-2x"></i>
          </div>
          <div class="sidebar-brand-text mx-3">
            <b style="font-family: Georgia; color: gold">Mi</b>-<i>Assets</i>
          </div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-1 bg-warning" />
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item side-nav">
          <a class="nav-link" href="/user/home">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider" />
  
        <!-- Heading -->
        <div class="sidebar-heading">information</div>
  
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active side-nav">
          <a class="nav-link collapsed" href="/user/assets"  aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-tools"></i>
            <span>Avaialable Assets</span>
          </a>
          
        </li>
        <li class="nav-item side-nav">
          <a class="nav-link collapsed" href=""  aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-house"></i>
            <span>CheckOut Assets</span>
          </a>
          
        </li>
        <li class="nav-item side-nav">
          <a class="nav-link collapsed" href="/user/assets"  aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-bank"></i>
            <span>Payment </span>
          </a>
          
        </li>
  
        <!-- Nav Item - Charts -->
        <li class="nav-item side-nav">
          <a class="nav-link" href="/user/rent-details">
            <i class="fas fa-fw fa-folder"></i>
            <span>Rents Details</span></a>
        </li>
  
        <!-- Nav Item - Tables -->
        <li class="nav-item side-nav">
          <a class="nav-link" href="/user/due-date">
            <i class="fas fa-fw fa-clock"></i>
            <span>Due Time</span></a>
        </li>
        <li class="nav-item side-nav">
          <a class="nav-link" href="/user/outstand">
            <i class="fas fa-fw fa-desktop"></i>
            <span>Outstanding</span></a>
        </li>
        <li class="nav-item side-nav">
          <a class="nav-link" href="/user/complaint">
            <i class="fas fa-fw fa-mail-bulk"></i>
            <span>Complaint</span></a>
        </li>
        <li class="nav-item side-nav">
          <a class="nav-link" href="/user/profile">
            <i class="fas fa-fw fa-user-circle"></i>
            <span>Profile</span></a>
        </li>
      
        <li class="nav-item side-nav">
          <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#my_Modal">
            <i class="fas fa-fw fa-sign-out"></i>
            <span>Sign Out</span></a
          >
        </li>
  <!-- sign out model -->
  
  <!-- The Modal -->
  <div class="modal" id="my_Modal">
  <div class="modal-dialog">
    <div class="modal-content">
  
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Did you want to sign Out?</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
  
      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to long out?
      </div>
  
      <!-- Modal footer -->
      <div class="modal-footer">
        <a type="button" href ="/" class="btn btn-primary" >Yes</a>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
      </div>
  
    </div>
  </div>
  </div>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />
  
        
  
        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
<% if (user.photo) { %>
 
  <img class="sidebar-card-illustration mb-2" src="<%= user.photo %>" alt="..." />
<% } else{%>
  <img class="sidebar-card-illustration mb-2" src="/img/profile.jpg" alt="..." />
<% } %>
  <p class="text-center mb-2">
            <strong title="my profile"> <a href="/profile"><%- include("../patials/userName") %></a></strong> welcome to Mi assets,
           
          </p>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <form class="form-inline">
              <button
                id="sidebarToggleTop"
                class="btn btn-link d-md-none rounded-circle mr-3"
              >
                <i class="fa fa-bars"></i>
              </button>
            </form>

            <!-- Topbar Navbar -->
            <%- include("../patials/header") %>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Fixed Asset</h1>
            <p class="mb-4">
             These are the details of fixed asset available in the system are as follows <br>
       
            </p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                Available fixed assets
                </h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Asset Name</th>
                        <th>Model/Company</th>
                        <th>Address</th>
                        <th>Amount in a Month</th>
                        <th>Owner</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Asset Name</th>
                        <th>Model/Company</th>
                        <th>Address</th>
                        <th>Amount in a Month</th>
                        <th>Owner</th>
                        <th></th>
                      </tr>
                    </tfoot>
                    <tbody> 
              

                      <% for( let asset of Assets ) { %>
                        <tr class="collapsed">
                          <td><%= asset.name %></td>
                          <td><%= asset.company_name %></td>
                          <td><%= asset.address%></td>
                          <td><%= asset.amount%></td>
                          <td><%= asset.admin.surname.slice(0,1).toUpperCase()+asset.admin.surname.slice(1) + " " + asset.admin.first_name.slice(0,1).toUpperCase()+asset.admin.first_name.slice(1) %></td>
                          <td>
                          <a href=""> <a href="/user/payment/<%=asset.id%>">
                            <i class="fa fa-arrow-right" title="click me to complete rent process"></i></a>
                          </a></td>
                        </tr>
                        <% } %>
           

                     
                     </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

           <!-- End of Main Content -->
           <%- include("../patials/footer.ejs") %>
        